<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANXt2hFQEEbvhHUv4LzoNTND5ZlkCdKRk</string>
	<key>GCM_SENDER_ID</key>
	<string>576649475543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seymarslan.Bir-Esnaf</string>
	<key>PROJECT_ID</key>
	<string>bir-esnaf</string>
	<key>STORAGE_BUCKET</key>
	<string>bir-esnaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576649475543:ios:5cc2617cc415f9f3adc792</string>
</dict>
</plist>